@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f1f5f9; /* bg-slate-100 */
  color: #1e293b; /* text-slate-800 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.urdu-script {
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 2.2;
  direction: rtl;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
